/* ============= COMMON STYLES ============= */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #434455;
  /* ============= COMMON STYLES ============= */
}

/* ============= /PAGE HEADER ============= */

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logotype-link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.address {
  font-style: normal;
}
.menu,
menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-list-item {
  font-size: 16px;
  color: #434455;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/* ============= /PAGE HEADER ============= */

/* ================ HERO ================ */
.main-title {
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 0.9;
  text-align: left;
  color: #ffffff;
  background-color: #2e2f42;
}

.order-service-btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  border: 0;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 0;
}
/* ================ /HERO ================ */

/* ================ WHY US ================ */
.why-us-list-title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  /* color: var(--secondary-color); */
}

.why-us-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.28px;
  color: #434455;
}
/* ================ /WHY US ================ */

/* ================ OUR TEAM ================ */
.our-team-list-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.28px;
  /* color: var(--secondary-color); */
}

.our-team-list-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-list-item-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ================ /OUR TEAM ================ */

/* ================ OUR PORTFOLIO ================ */
.our-portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.28px;
}
.our-portfolio-list-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.our-portfolio-list-item-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
/* ================ OUR PORTFOLIO ================ */

/* ============= PAGE FOOTER ============= */
.logotype-icon-footer {
  width: Hug (115px);
  height: Fixed (24px);
  top: 3088px;
  left: 156px;
}
.footer-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
/* ============= PAGE FOOTER ============= */
